
.footer {
    background-color: #585d67;
    padding: 40px;
  }
  .footer-info {
    max-width: 1980px;
    padding: 102px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color: #ffff;
  }