* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}

.footer {
  background-color: #585d67;
  padding: 80px;
}
.footer-info {
  max-width: 1980px;
  padding: 102px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  color: #ffff;
}
.footer-info article h3 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.footer-info article p {
  font-size: 16px;
  padding: 10px;
}
.footer-info article a {
  display: flex;
  flex-direction: column;
  text-align: start;
  color: #ffffff;

  font-size: 16px;
  padding: 8px;
  text-decoration: none;
}
.footer {
  background-color: #585d67;
  padding: 80px;
}
.footer-info {
  max-width: 1980px;
  padding: 102px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  color: #ffff;
}
.footer-info article h3 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.footer-info article p {
  font-size: 16px;
  padding: 10px;
}
.footer-info article a {
  display: flex;
  flex-direction: column;
  text-align: start;
  color: #ffffff;
  font-size: 16px;
  padding: 8px;
  text-decoration: none;
}
.footer-info article a:hover {
  color: #0045e8;
}
@media screen and (max-width: 768px) {
  .footer-info {
    flex-direction: column;
    text-align: center;
  }
  .footer-info article h3 {
    color: #4dcbf5;
    font-size: 24px;
    margin-top: 30px;
  }

  .footer-info article a {
    text-align: center;
  }

  .footer-info article a:hover {
    color: black;
  }
}
