.max-width {
  max-width: 1980px;
  margin: 0 auto;
}

.burgermenu {
  display: none;
  align-items: center;
}

.burgermenu i {
  font-size: 40px;
}

#burger {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.nav {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 2vw;
}

.nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: 500;
}

.nav ul li a:hover {
  color: #0045e8;
}

#logo {
  width: 120px;
  height: 120px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo h1 {
  font-size: 40px;
}

.logo h1 a {
  font-weight: 700;
  color: #0045e8;
  text-decoration: none;
}

.logo h1 a:hover {
  color: black;
  font-weight: 800;
}

img {
  width: 50px;
  height: 50px;
}

.nav [type="text"] {
  width: 300px;
  height: 30px;
}

.nav [type="image"] {
  width: 50px;
  height: 50px;
}

.navBurgermenu ul {
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 30px 0px;
  list-style-type: none;
  background-color: #585d67;
  box-shadow: 0px 0px 10px #585d67;
}
.navBurgermenu ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 19px;
}

.navBurgermenu div {
  height: 2px;
  width: 320px;
  background-color: #464a52;
  margin: 0 auto;
}

.navBurgermenu ul li a:hover {
  color: #4dcbf5;
}

#burger {
  margin-left: -5px;
}

@media screen and (max-width: 1200px) {
  .nav [type="text"] {
    width: 200px;
    height: 30px;
  }
}

@media screen and (max-width: 1002px) {
  .nav [type="text"] {
    width: 80px;
    height: 30px;
  }
  .search {
    gap: 0vw;
  }
}

@media screen and (max-width: 862px) {
  .nav [type="text"] {
    width: 20px;
    height: 30px;
  }
}

@media screen and (max-width: 768px) {
  .nav [type="text"] {
    width: 150px;
    height: 30px;
  }
  .search {
    gap: 1vw;
  }
  .nav ul {
    display: none;
  }
  .nav .burgermenu {
    display: flex;
    padding-right: 10px;
  }
}
