@import url(/assets/css/footer.css);
@import url(/assets/css/nav.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}
.kategori-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.kategori {
  background-color: #4dcbf5;
  padding: 30px;
}

.kategori-ul li {
  text-decoration: none;
  list-style-type: none;
}
.kategori-ul li a {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: black;
  text-decoration: none;
  padding: 30px 0;
  border-bottom: 2px solid black;
}
.kategori-ul li a:hover {
  color: #ffff;
}

.shop {
  max-width: 1980px;
  padding: 80px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.box {
  padding: 0 30px 10px 20px;
  box-shadow: 5px 10px 10px 5px rgba(13, 13, 196, 0.12);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.container img {
  width: 50%;
  height: 50%;
  padding-bottom: 20px;
  padding-top: 20px;
  cursor: pointer;
  margin: 0 auto;
}
.container div {
  text-align: center;
}
.container div h4 {
  font-size: 24px;
}
.container div p {
  font-size: 16px;
  padding: 10px;
}
.cart-shopping-div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-right: 18px;
  padding-left: 18px;
  margin-top: auto;
}

.cart-shopping-div h5 {
  font-size: 18px;
}
.cart-shopping-div a i {
  width: 35px;
  height: 35px;
  color: #0045e8;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
  .box {
    padding: 30px;
  }
}
