@import url(/assets/css/footer.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

.max-width {
  max-width: 1980px;
  margin: 0 auto;
}

.search {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.nav {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 2vw;
}

.nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: 500;
}

.nav ul li a:hover {
  color: #0045e8;
}

#logo {
  width: 120px;
  height: 120px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo h1 {
  font-size: 40px;
}

.logo h1 a {
  font-weight: 700;
  color: #0045e8;
  text-decoration: none;
}

.logo h1 a:hover {
  color: black;
  font-weight: 800;
}

img {
  width: 50px;
  height: 50px;
}

.nav [type="text"] {
  width: 300px;
  height: 30px;
}

.nav [type="image"] {
  width: 50px;
  height: 50px;
}

.footer {
  background-color: #585d67;
  padding: 80px;
}
.footer-info {
  max-width: 1980px;
  padding: 102px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  color: #ffff;
}
.footer-info article h3 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.footer-info article p {
  font-size: 16px;
  padding: 10px;
}
.footer-info article a {
  display: flex;
  flex-direction: column;
  text-align: start;
  color: #ffffff;

  font-size: 16px;
  padding: 8px;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .footer-info {
    flex-direction: column;
    text-align: center;
  }
  .footer-info article a {
    text-align: center;
  }
  .footer-info article h3 {
    color: #0045e8;
    font-size: 24px;
  }
}
